.template-container {
  background-color: rgb(241, 247, 255);
  height: 100%;
  width: 50%;
  top: 0;
  right: 0;
  padding: 0px;
  overflow-y: scroll;
  position: fixed;
}

.canv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#resumeCanvas {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 4px;
    background-color: white;
}