.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100vh;
}

.main-home {
  background-color: #000000;
  overflow-x: hidden;
}

.heading-container > h1 {
  font-size: 6rem;
  font-weight: 900;
  margin: 5px;
  color: white;
}

.heading-container > h3 {
  font-size: 1rem;
  font-weight: 500;
  margin: 5px;
  color: white;
}

.heading-container > p {
  font-size: 1rem;
  font-weight: 400;
  width: 80%;
  text-align: center;
  color: #888888;
}

.cmr {
  border: none;
  height: 50px;
  width: 240px;
  background-color: #0079ff;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.6px;
  font-size: 0.9rem;
  cursor: pointer;
}

.brand-name {
  color: #ffffff;
  background-color: transparent;
}

img {
  width: 200px;
}
